img:nth-child(4){
    left: 0;
    top: 240px;
    animation: hd 30s linear;
    opacity: 0;
}
@keyframes hd {
    0%{
        opacity: 0;
        left: 0;
        top: 0;
    }
    17%{
        opacity: 1;
        left: 0;
        top:240px
    }

}